* {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: none;
  padding: 15px 10px;
  background-color: #30b868;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #279e57;
  box-shadow: 0 5px 40px rgba(48, 184, 104, 0.4);
}
.icon {
  font-size: 18px;
  text-align: center;
}

/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 24px 120px;
  align-items: center;
}

.txt {
  display: flex;
  gap: 30px;
  align-items: center;
}
.txt a {
  color: #242424;
  text-decoration: none;
}
.txt a:hover {
  color: #279e57;
}

/* Banner Section */
.Banner {
  min-height: 90vh;
  background: url("../image/hero-bg.png") center/cover no-repeat;
  text-align: center;
}

.badge {
  font-size: 18px;
  border: none;
  border-radius: 1000px;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
  margin-top: 162px;
}

.badge span {
  color: #2e7d4f;
  font-size: 16px;
  font-weight: 500;
}

.badge:hover {
  background-color: #e6f4ec;
}

.badge:hover span {
  color: #1b5e20;
}
.badge-text {
  font-size: 50px;
  font-weight: 700;
  color: #30b868;
  margin: 20px 0;
}
.text {
  color: white;
}

.Banner p {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.btn-text {
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 10px;
  background: transparent;
  color: #ffffff;
  border: 1.5px solid #bdbbbb;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 12px;
}

.icon-2 {
  font-size: 24px;
  text-align: center;
}

.btn-text:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

/* Noates Section */

.Noates {
  margin-top: 40px;
  text-align: center;
}

.card-text h1 {
  color: #001931;
  font-style: Bold;
  font-size: 48px;
  margin-bottom: 15px;
}

.card-text p {
  color: #627382;
  font-size: 16px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  margin: 24px 120px;
}

.card {
  padding: 30px 33px;
  max-width: 270px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}
.card img {
  width: 35px;
  height: 35px;
  background: #ff5a5a;
  border-radius: 50%;
  padding: 10px;
}

.card h3 {
  color: #001931;
  font-style: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  color: #627382;
  font-size: 16px;
}

/* Second Brain */

.Second-Container {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  align-items: center;
  margin: 100px 150px;
}

.Second-Container img {
  border-radius: 15px;
}

.Second-content span {
  font-size: 16px;
  font-weight: 500;
  color: #30b868;
  margin-bottom: 20px;
}
.Second-content h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 58px;
  color: #001931;
  margin-bottom: 20px;
}

.Second-content .Ptag {
  max-width: 600px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

.CheckCircle {
  margin-top: 40px;
}

.CheckCircle p {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 16px;
  gap: 10px;
}

/* Ready to think */

.Ready-Container {
  margin: 0 auto;
  text-align: center;
  max-width: 1360px;
  padding: 80px 40px 80px 40px;
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
  margin-bottom: 100px;
}
.Ready-Content h1 {
  color: #001931;
  font-size: 50px;
  font-weight: 700;
}

.Ready-Content p {
  margin: 0 auto;
  max-width: 800px;
  color: #627382;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
